@mixin custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

@mixin input {
  font: inherit;
  border: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  width: 100%;
}
