@import "./mixins";

.custom-field .text-input:not(:focus)::placeholder {
  visibility: hidden;
}

.text-input:disabled {
  cursor: not-allowed;
}

.custom-field {
  @include custom-field;
}

.custom-field .text-input {
  @include input;
}

.custom-field .text-input.dark,
.custom-field.second .text-input.dark,
.custom-field.fourth .text-input.dark {
  background: hsla(0deg, 0%, 100%, 0.22);
  color: #fff;
}

.custom-field .text-input:focus.dark,
.custom-field.second .text-input:focus.dark,
.custom-field.fourth .text-input:focus.dark {
  background: #001010;
}

.label-hidden {
  position: absolute;
  left: 12px;
  transform: translateY(-50%);
  top: 10px;
  font-size: 10px;
  color: #aaa;
}

// error

.custom-field[requirederror]::after {
  content: attr(requirederror);
  position: absolute;
  left: 12px;
  transform: translateY(50%);
  top: 59px;
  font-size: 10px;
  color: #ff3333;
}

.label-hidden-second {
  position: absolute;
  left: 8px;
  padding: 0 5px;
  transform: translateY(-50%);
  font-size: 10px;
  top: 20px;
  background: #fff;
  color: #aaa;
}

.custom-field .label {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field .text-input:focus + .label,
.custom-field .text-input:focus + .label-hidden {
  top: 10px;
  font-size: 10px;
  color: #866ec7;
}

.custom-field .text-input:focus + .label.secondary,
.custom-field .text-input:focus + .label-hidden.secondary {
  top: 10px;
  font-size: 10px;
  color: #3445b4;
}

.custom-field .text-input:focus + .label.dark,
.custom-field .text-input:focus + .label-hidden.dark {
  top: 10px;
  font-size: 10px;
  color: #f8b739;
}

.custom-field .text-input:focus:invalid + .label,
.custom-field .text-input:focus:invalid + .label-hidden,
.custom-field .text-input:focus:invalid + .label.secondary,
.custom-field .text-input:focus:invalid + .label-hidden.secondary,
.custom-field .text-input:focus:invalid + .label.dark,
.custom-field .text-input:focus:invalid + .label-hidden.dark {
  top: 10px;
  font-size: 10px;
  color: #ff3333;
}

// Second

.custom-field.second .text-input {
  background: #fff;
  border: 2px solid #ddd;
  transition: border-color 0.3 ease;
}

.custom-field.second .text-input:focus.primary {
  border-color: #866ec7;
  transition-delay: 0.1s;
}

.custom-field.second .text-input:focus.secondary {
  border-color: #3445b4;
  transition-delay: 0.1s;
}

.custom-field.second .text-input:focus.dark {
  border-color: #f8b739;
  transition-delay: 0.1s;
}

.custom-field.second .text-input + .label,
.custom-field.second .text-input + .label-hidden-second {
  padding: 0 5px;
  left: 8px;
}

.custom-field.second .text-input:focus:invalid.primary,
.custom-field.second .text-input:focus:invalid.secondary,
.custom-field.second .text-input:focus:invalid.dark {
  border-color: #ff3333;
  transition-delay: 0.1s;
}

.custom-field.second .text-input:focus:invalid + .label.primary,
.custom-field.second .text-input:focus:invalid + .label-hidden-second.primary,
.custom-field.second .text-input:focus:invalid + .label.secondary,
.custom-field.second .text-input:focus:invalid + .label-hidden-second.secondary,
.custom-field.second .text-input:focus:invalid + .label.dark,
.custom-field.second .text-input:focus:invalid + .label-hidden-second.dark {
  color: #ff3333;
  top: 20px;
  background: #fff;
}

.custom-field.second .text-input:focus + .label.primary,
.custom-field.second .text-input:focus + .label-hidden-second.primary {
  color: #866ec7;
  top: 20px;
  background: #fff;
}
.custom-field.second .text-input:focus + .label.secondary,
.custom-field.second .text-input:focus + .label-hidden-second.secondary {
  color: #3445b4;
  top: 20px;
  background: #fff;
}
.custom-field.second .text-input:focus + .label.dark,
.custom-field.second .text-input:focus + .label-hidden-second.dark {
  color: #f8b739;
  top: 20px;
  background: #fff;
}

// Third

.custom-field.third .text-input.primary:invalid,
.custom-field.third .text-input.secondary:invalid,
.custom-field.third .text-input.dark:invalid {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #ff3333, #ff3333) center bottom/0 2px
      no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  background-size: 100% 2px, 100% 2px, 100%;
  transition: background-size 0.3s ease;
}

.custom-field.third .text-input.primary:focus:invalid,
.custom-field.third .text-input.secondary:focus:invalid,
.custom-field.third .text-input.dark:focus:invalid {
  background-size: 100% 2px, 100% 2px, 100%;
}

.custom-field.third .text-input.primary {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #866ec7, #866ec7) center bottom/0 2px
      no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field.third .text-input.secondary {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #3445b4, #3445b4) center bottom/0 2px
      no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field.third .text-input.dark {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #f8b739, #f8b739) center bottom/0 2px
      no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
    linear-gradient(
        90deg,
        hsla(0deg, 0%, 100%, 0.22),
        hsla(0deg, 0%, 100%, 0.22)
      )
      left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field.third .text-input.dark:focus {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(90deg, #f8b739, #f8b739) center bottom/0 2px
      no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, #001010, #001010) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
  background-size: 100% 2px, 100% 2px, 100%;
}

.custom-field.third .text-input:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}

// Fourth

.custom-field.fourth .border.primary,
.custom-field.fourth .border.secondary,
.custom-field.fourth .border.dark {
  width: 100%;
  height: calc(100% - 20px);
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 3px;
  cursor: text;
}

.custom-field.fourth .border.primary::before,
.custom-field.fourth .border.primary::after,
.custom-field.fourth .border.secondary::before,
.custom-field.fourth .border.secondary::after,
.custom-field.fourth .border.dark::before,
.custom-field.fourth .border.dark::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;

  border-radius: 3px;
}

.custom-field.fourth .border.primary::before {
  left: 0;
  bottom: 0;
  border-bottom: 0px solid #866ec7;
  border-right: 0px solid #866ec7;
  transition: border-width 0.2s ease 0.8s, width 0.2s ease 0.6s,
    height 0.2s ease 0.4s;
}

.custom-field.fourth .border.secondary::before {
  left: 0;
  bottom: 0;
  border-bottom: 0px solid #3445b4;
  border-right: 0px solid #3445b4;
  transition: border-width 0.2s ease 0.8s, width 0.2s ease 0.6s,
    height 0.2s ease 0.4s;
}

.custom-field.fourth .border.dark::before {
  left: 0;
  bottom: 0;
  border-bottom: 0px solid #f8b739;
  border-right: 0px solid #f8b739;
  transition: border-width 0.2s ease 0.8s, width 0.2s ease 0.6s,
    height 0.2s ease 0.4s;
}

.custom-field.fourth .border.primary::after {
  top: -2px;
  right: -2px;
  border-top: 0px solid #866ec7;
  border-left: 0px solid #866ec7;
  transition: border-width 0s ease 0.4s, width 0.2s ease 0.2s, height 0.2s ease;
}

.custom-field.fourth .border.secondary::after {
  top: -2px;
  right: -2px;
  border-top: 0px solid #3445b4;
  border-left: 0px solid #3445b4;
  transition: border-width 0s ease 0.4s, width 0.2s ease 0.2s, height 0.2s ease;
}

.custom-field.fourth .border.dark::after {
  top: -2px;
  right: -2px;
  border-top: 0px solid #f8b739;
  border-left: 0px solid #f8b739;
  transition: border-width 0s ease 0.4s, width 0.2s ease 0.2s, height 0.2s ease;
}

.custom-field.fourth .text-input:focus ~ .border.primary::after,
.custom-field.fourth .text-input:focus ~ .border.primary::before,
.custom-field.fourth .text-input:focus ~ .border.secondary::after,
.custom-field.fourth .text-input:focus ~ .border.secondary::before,
.custom-field.fourth .text-input:focus ~ .border.dark::after,
.custom-field.fourth .text-input:focus ~ .border.dark::before {
  width: 100%;
  height: 100%;
  border-width: 2px;
}

.custom-field.fourth .text-input:focus ~ .border.primary::before,
.custom-field.fourth .text-input:focus ~ .border.secondary::before,
.custom-field.fourth .text-input:focus ~ .border.dark::before {
  transition: width 0.2s ease, height 0.2s ease 0.2s;
}

.custom-field.fourth .text-input:focus ~ .border.primary::after,
.custom-field.fourth .text-input:focus ~ .border.secondary::after,
.custom-field.fourth .text-input:focus ~ .border.dark::after {
  transition: border-width 0s ease 0.4s, width 0.2s ease 0.4s,
    height 0.2s ease 0.6s;
}

// required fourth error

.custom-field.fourth .text-input:invalid ~ .border.primary::before {
  left: 0;
  bottom: 0;
  border-bottom: 0px solid #ff3333;
  border-right: 0px solid #ff3333;
  transition: border-width 0.2s ease 0.8s, width 0.2s ease 0.6s,
    height 0.2s ease 0.4s;
}

.custom-field.fourth .text-input:invalid ~ .border.primary::after {
  top: -2px;
  right: -2px;
  border-top: 0px solid #ff3333;
  border-left: 0px solid #ff3333;
  transition: border-width 0s ease 0.4s, width 0.2s ease 0.2s, height 0.2s ease;
}

.custom-field.fourth .text-input:focus:invalid ~ .border.primary::after,
.custom-field.fourth .text-input:focus:invalid ~ .border.primary::before,
.custom-field.fourth .text-input:focus:invalid ~ .border.secondary::after,
.custom-field.fourth .text-input:focus:invalid ~ .border.secondary::before,
.custom-field.fourth .text-input:focus:invalid ~ .border.dark::after,
.custom-field.fourth .text-input:focus:invalid ~ .border.dark::before {
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #ff3333;
}

.custom-field.fourth .text-input:focus:invalid ~ .border.primary::before,
.custom-field.fourth .text-input:focus:invalid ~ .border.secondary::before,
.custom-field.fourth .text-input:focus:invalid ~ .border.dark::before {
  transition: width 0.1s ease, height 0.1s ease 0.1s, border-color 0.1s;
}

.custom-field.fourth .text-input:focus:invalid ~ .border.primary::after,
.custom-field.fourth .text-input:focus:invalid ~ .border.secondary::after,
.custom-field.fourth .text-input:focus:invalid ~ .border.dark::after {
  transition: border-width 0s ease 0.2s, width 0.1s ease 0.2s,
    height 0.1s ease 0.3s, border-color 0.1s;
}
